# BantuWave

.env
*.env.bak

.docker/

__pycache__/
*.py[cod]
*$py.class
db.sqlite3
**/celerybeat-schedule
**/celerybeat-schedule.*

backend/static/
backend/staticfiles/
backend/media/
BantuWave/backend/staticfiles/
BantuWave/backend/media/

node_modules/
frontend/dist/
frontend/.env.local

.vscode/
.idea/
.run/
*.swp
*.swo

.DS_Store
Thumbs.db
